body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(51, 50, 50);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    text-decoration: none; 
}

.market-list-wrapper {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;

}

.navbar {
  margin: 0;
  padding: 0;
  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar > li > a {
  color: white; 
  text-decoration: none;
  padding: 24px;
  height: 16px;
  
}

.navbar > li > a.activeNavButton {
  background-color: #4285f4;
  color: white;
  text-decoration: none;
}

.homepage-h1 {
  color: #FDB751; 
  font-size: 78px; 
  font-family: Merriweather; 
  margin-right: 79px;  
}

.homepage-p {
 width: 443px; 
 color: white; 
  font-family: Roboto;	
  font-size: 30px;	
  line-height: 35px;
  margin-left:31%;
  display:block; 
}

.tabNav-h1 {
  width: 78px;
  height: 34px;
  color: white; 
  margin-left: 24px; 
}

.market-card {
  width: 30%;
  max-width: 265px;
  min-width: 220px;
  margin: 50px 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: white; 
}

.button {
  text-decoration: none;
  height: 54px;	
  width: 30%;	
  border: 1px solid #303030;	
  border-radius: 2px;	
  background-color: #FDB751;
	display: table-cell; 
  color: #303030;	
  font-family: Roboto;	
  font-size: 26px;	
  line-height: 30px;
  margin-left:86px; 
  margin:30px; 
  
}

.home-img {
  margin-left: 205px;
  display: inline;

}

.login { 
background:#eceeee;
border: 1px solid #42464b;
border-radius: 6px; 
height: 400px;
margin:20px auto 0;
width: 650px;
display:inline-grid; 
align-content:center;
}

.box {
  border:1px solid #a1a3a3; 
  border-radius: 4px; 
  box-shadow:0 1px #fff;
  box-sizing: border-box; 
  color: #696969;
  height: 39px; 
  margin: 31px 0 0 29px; 
  padding-left:37px; 
  transition: box-shadow 0.3s; 
  width: 240px; 
  margin-left: 30%; 
}

.submit { 
  background: #FDB751; 
  height: 36px; 
  margin: 30px auto;  
  width: 250px; 
  margin-left: -3%;
}

.welcome-img {
  height: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  border: 1px solid rgb(209, 209, 209);
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  margin: 6% 3% 0 0;
    display: table-column; 
}

.welcome-button { 
  
    text-decoration: none;
    height: 182px;	
    width: 25%;	
    border: 10px solid white;	
    border-radius: 2px;	
    background-color: #FDB751;
    display: table-cell; 
    color: #303030;	
    font-family: Roboto;	
    font-size: 26px;	
    line-height: 30px;
    margin-left:35%; 
    margin-bottom: 5%;  
    display: inline-grid; 
  }
