body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(51, 50, 50) 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.market-list-wrapper {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;

}

.navbar {
  margin: 0;
  padding: 0;
  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar > li > a {
  color: white; 
  text-decoration: none;
  padding: 24px;
  height: 16px;
  
}

.navbar > li > a.activeNavButton {
  background-color: #4285f4;
  color: white;
}

.homepage-h1 {
  color: #FDB751; 
  font-size: 78px; 
  font-family: Merriweather; 
  margin-right: 929px;  
}

.homepage-p {
  height: 120px;	
  width: 407px;	
 color: white; 
  font-family: Roboto;	
  font-size: 30px;	
  line-height: 35px;
  margin-left:18px; 
}

.tabNav-h1 {
  width: 78px;
  height: 34px;
  color: white; 
  margin-left: 24px; 
}

.market-card {
  width: 30%;
  max-width: 265px;
  min-width: 220px;
  margin: 50px 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: white; 
}

.button {
  height: 54px;	
  width: 222px;	
  border: 1px solid #303030;	
  border-radius: 2px;	
  background-color: #FDB751;
	display: flex; 
  color: #303030;	
  font-family: Roboto;	
  font-size: 26px;	
  line-height: 30px;
  margin-left:86px; 
}

.home-img {
  margin-left: 205px;
  display: inline;
  margin-top: -398px;
}
