body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(51, 50, 50);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    text-decoration: none; 
}

.market-list-wrapper {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;

}

.navbar {
  margin: 0;
  padding: 0;
  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar > li > a {
  color: white; 
  text-decoration: none;
  padding: 24px;
  height: 16px;
  
}

.navbar > li > a.activeNavButton {
  background-color: #4285f4;
  color: white;
  text-decoration: none;
}

.homepage-h1 {
  color: #FDB751; 
  font-size: 78px; 
  font-family: Merriweather; 
  margin-left: 31%;  
}

.homepage-p {
 width: 38%; 
 color: white; 
  font-family: Roboto;	
  font-size: 30px;	
  line-height: 35px;
  margin-left:29%;
  display:block; 
}

.tabNav-h1 {
  width: 78px;
  height: 34px;
  color: white; 
  margin-left: 24px; 
}

.market-card {
  width: 30%;
  max-width: 265px;
  min-width: 220px;
  margin: 50px 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: white; 
}

.button {
  text-decoration: none;
  height: 54px;	
  width: 30%;	
  border: 1px solid #303030;	
  border-radius: 2px;	
  background-color: #FDB751; 
  color: #303030;	
  font-family: Roboto;	
  font-size: 26px;	
  line-height: 30px;
  margin-left:13%; 
  margin-top:3%; 
  margin-right: -4%;  
}

.home-img {
  margin-left: 205px;
  display: inline;

}

.login { 
background:#eceeee;
border: 1px solid #42464b;
border-radius: 6px; 
height: 413px;
margin:20px auto 0;
width: 650px; 
align-content:center;
}

.box {
  border:1px solid #a1a3a3; 
  border-radius: 4px; 
  box-shadow:0 1px #fff;
  box-sizing: border-box; 
  color: #696969;
  height: 39px;  
  padding-left:37px; 
  transition: box-shadow 0.3s; 
  width: 240px; 
  margin-left: 30%; 
  margin-bottom: 4%; 
  margin-top: 2%; 
}

.submit { 
  background: #FDB751; 
  height: 36px; 
  margin: 30px auto;  
  width: 250px; 
  margin-left: 29%;
}

.welcome-img {
  height: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  border: 1px solid rgb(209, 209, 209);
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  margin: 6% 3% 0 0;
  display: table-column; 
}

.welcome-button { 
  
    text-decoration: none;
    height: 182px;	
    width: 25%;	
    border: 4px solid white;	
    border-radius: 2px;	
    background-color: #FDB751; 
    color: #303030;	
    font-family: Roboto;	
    font-size: 32px;	
    line-height: 30px;
    margin-left:35%; 
    margin-bottom: 5%;  
    
  }

  .reglabel {
    margin-left: 30%;
  }

  .selllogin{  
      background:#eceeee;
      border: 1px solid #42464b;
      border-radius: 6px; 
      height: 685px;
      margin:20px auto 0;
      width: 650px; 
      align-content:center;
  
  }
  
  .descrbox { 
      border:1px solid #a1a3a3; 
      border-radius: 4px; 
      box-shadow:0 1px #fff;
      box-sizing: border-box; 
      color: #696969;
      height: 100px;  
      padding-left:37px; 
      transition: box-shadow 0.3s; 
      width: 240px; 
      margin-left: 30%; 
      margin-bottom: 4%; 
      margin-top: 2%; 
  }


  .signlabel { 
      color: #FDB751; 
      font-size: 43px; 
      font-family: Merriweather; 
      margin-left: 28%;  
   
  }

  .signlogin { 
    background:#eceeee;
    border: 1px solid #42464b;
    border-radius: 6px; 
    height: 350px;
    margin:20px auto 0;
    width: 650px; 
    align-content:center;
    }

    .produce-h2 { 
        width: 38%; 
        color: #FDB751;  
         font-family: Roboto;	
         font-size: 30px;	
         line-height: 35px;
         margin-left:29%;
         display:block; 
      
    }

    .market-p { 
      width: 38%; 
      color: white; 
       font-family: Roboto;	
       font-size: 20px;	
       line-height: 35px;
       margin-left:29%;
       display:block; 
    }

    .clothing-h2 {
      width: 38%; 
        color: #FDB751;  
         font-family: Roboto;	
         font-size: 30px;	
         line-height: 35px;
         margin-left:49%;
         display:flex; 
         margin-top: -25%;

    }

    .clothing-p {
      width: 38%;
      color: white;
      font-family: Roboto;
      font-size: 20px;
      line-height: 35px;
      margin-left: 49%;
      margin-top: 0%;
      display: inline-flex;
    }

    
    .household-h2 {
      width: 38%;
      color: #FDB751;
      font-family: Roboto;
      font-size: 30px;
      line-height: 35px;
      margin-left: 67%;
      /* display: inline; */
      margin-top: -17%;

    }

    .household-p {
      width: 38%;
      color: white;
      font-family: Roboto;
      font-size: 20px;
      line-height: 35px;
      margin-left: 67%;
      margin-top: 2%;

    }

    .market-h1 {
      color: #FDB751; 
      font-size: 78px; 
      font-family: Merriweather; 
      margin-left: 36%;  
    }